* {font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}


body{background-color: rgb(32, 100, 15);}
main{background-color: rgb(152, 180, 180);
width: 900px;
margin: auto;
padding: 60px;
box-shadow:3px 3px 5px black;
}